*tmp
*~
*#*
lib/*
classes/*
target/*
.classpath
.project
.lein-deps-sum
.lein-plugins
config/config.clj
.DS_Store

lib/*
.lein-failures
pom.xml
config/zolo.clj
logs/*.log
logs/*.gz

/.lein-repl-history
/devops/config/prod/logback.xml
/devops/config/prod/zolo.clj
pom.xml
*jar
/lib/
/classes/
.lein-deps-sum
.lein-failures
.lein-repl-history
/target/

